h1, h2, h3, h4, h5, h6 {
  line-height: 1.1; 
  text-wrap: balance; 
}
h1 {
  font-size: 400%; 
}

:root {
  color-scheme: light dark;
  --color-accent: oklch(67% 67% 67);
}

img {
  max-width: 100%;
  height: auto; /* Ensure this is in your style.css */
}

body {
  font: 100%/1.5 system-ui;
  max-width: 135ch;
  margin-inline: auto;
  padding: 1.67rem;
  accent-color: var(--color-accent);
}

input,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}


label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

textarea,
button {
  grid-column: 1 / -1; 
}

button {
  justify-self: center;
  padding: 0.5em 1em;
  background-color: var(--color-accent);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


nav ul {
  display: contents;
}
nav li {
  display: contents;
}
nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  margin-bottom: 2em;
  border-bottom: 1px solid oklch(67% 15% 200);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em; 
}
nav a.current {
  border-bottom-style: solid;
  border-bottom-width: 0.4em;
  border-bottom-color: var(--border-color);
  padding-bottom: 0.1em;
}
nav a:hover {
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-bottom-style: solid;
  border-bottom-width: 0.4em;
  border-bottom-color: var(--color-accent);
  padding-bottom: 0.1em;
}


/* Projects part: */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
}

.projects-year-text {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Georgia, serif; 
  font-variant-numeric: oldstyle-nums;
  line-height: 1.5; 
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.swatch {
  display: inline-block;
  width: 1em;            /* width of the color box */
  aspect-ratio: 1 / 1;   /* ensures it's a perfect square */
  background-color: var(--color-accent);
  border-radius: 0.25em; /* slight rounding; use 50% for a circle */
  margin-right: 0.5em;   /* space between the swatch and the text */
  vertical-align: middle;
}

/* Color Scheme: */

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
}
.color-scheme select {
  margin-left: 0.5em;
  border-radius: 0.3em;
  background: transparent;
  color: inherit;
  border: 1px solid currentColor;
}


/* Profile Stats */
/* Profile stats */
#profile-stats {
  margin-top: 2rem;
  text-align: center;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  justify-items: center;
  margin-top: 1rem;
}

#profile-stats dt {
  grid-row: 1;
  font-weight: bold;
}

#profile-stats dd {
  grid-row: 2;
  margin: 0;
}